<p>Autoconfigure camera and headbobbing settings to recommended values! <span class="bold">Requires OpenMW 0.48 or newer!</span></p>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Camera\momw-camera

# Linux
/home/username/games/OpenMWMods/Camera/momw-camera

# macOS
/Users/username/games/OpenMWMods/Camera/momw-camera</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Camera\momw-camera"</code>)</li>
  <li>Add <code>content=momw-camera.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher</li>
  <li>Each time you run OpenMW, the following camera and head bobbing settings will be set:
    <ul>
      <li> View over the shoulder: <span class="bold">Yes</span></li>
      <li>Auto switch shoulder: <span class="bold">Yes</span></li>
      <li>Zoom out when move coef: <span class="bold">60</span></li>
      <li>Preview if stand still: <span class="bold">Yes</span></li>
      <li>Ignore ‘No Collision’ flag: <span class="bold">Yes</span></li>
      <li>Smooth view change: <span class="bold">Yes</span></li>
      <li>Head bobbing enabled: <span class="bold">Yes</span></li>
      <li>Head bobbing base step length: <span class="bold">120</span></li>
      <li>Head bobbing step height: <span class="bold">6</span></li>
      <li>Head bobbing max roll angle: <span class="bold">0.5</span></li>
    </ul>
  </li>
</ol>
<p>
  In order to customize these settings you must disable this mod (it is safe to disable or re-enable at any time mid-save).
</p>
